# Informe a URL do banco de dados PostgreSQL local ou remoto.
DB_URL=postgresql://usuario:senha@host:porta/banco

# Alternativamente, você pode usar DATABASE_URL em vez de DB_URL.
# DATABASE_URL=postgresql://usuario:senha@host:porta/banco
